body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  padding-top: 30px;
}


nav {
    margin-top: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: white;
    z-index: 1000;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: auto;
    list-style: none;
    padding: 20px;
}

.nav-links .menu-item {
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.menu-item .arrow {
  
    width: 10px;
    margin-left: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.menu-item:hover .arrow {
    transform: rotate(180deg);
}


.menu-box {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100vw; 
    height: 0;
    background-color: white;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    z-index: 999;
}

.menu:hover .menu-box {
    height: 200px; 
}







.img-logo {
  width: 60px;
  height: 50px;
  margin: 0;
}
.img-baner-1 {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.img-returnal {
  width: 220px;
  height: 50px;
  background-image: url(/img-5/returnal-hero-banner-logo.png);
  position: absolute;
  top: 250px;
  left: 30px;
  background-position: center;
  background-size: contain;
}
#image-list-game:hover {
  border: 3px solid rgb(0, 145, 255);
  border-radius: 20px;
  transition: 0.1s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1px;
  transform: scale(1.05);
}
#img-search {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
#image-ps5-album:hover {
  border-bottom: 3px solid rgb(0, 145, 255);
  opacity: 1;
  transition: 0.1s;
}
#image-ps5-album {
  opacity: 0.7;
}
.img-ittakes-two {
  width: 250px;
  height: 250px;
  background-repeat:no-repeat;
  background-image: url(/img-5/it-takes-two-logo.png);
  position: absolute;
  top: 0px;
  left: 40px;
  background-position: center;
  background-size: contain;
}









